/*Título principal*/
.adminGeneral-title{
    font-family: "regular";
    color: #06023D;
    font-size: 2.8125rem !important;
    padding-top: 3.125rem;
}

/* Contenedor del input de búsqueda */
.adminGeneral-search {
    position: relative;
    width: 25rem;
    height: 2.5rem;
    margin-top: 6.25rem;
}

/* Estilos del input */
.adminGeneral-search-input {
    width: 100%;
    height: 100%;
    padding-left: 1.875rem;
    padding-right: 3rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    outline: none;
    box-sizing: border-box;
}

/* Efecto al seleccionar el input*/
.adminGeneral-search-input:focus {
    border-color: #06023D;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
}

/* Estilo del placeholder */
.adminGeneral-search-input::placeholder {
    color: #D9D9D9;
}

/* Botón de búsqueda*/
.adminGeneral-search-button {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de la lupa */
.adminGeneral-search-icon {
    width: 1.25rem;
    height: 1.25rem;
}

/*Contenedor de botones*/
.adminGeneral-button-container{
    display: flex;
    gap: 50px;
    margin-top: 1.875rem;
}

/*Botón de "Todos"*/
.adminGeneral-button01{
    font-family: "inter";
    color: #F8F3E0;
    background-color: #EA8C06;
    padding: 7px 8px 7px 8px;
    border-radius: .9375rem;
}

/*Botón de "Servicio" y "Productos"*/
.adminGeneral-button02{
    font-family: "inter";
    letter-spacing: .0625rem;
    color: #9A9A9A;
    border: 2px solid #9A9A9A;
    padding: 5px 20px 5px 20px;
    border-radius: .9375rem;
}

/*Línea divisoria*/
.adminGeneral-divider {
    width: 100%;
    height: 2px;
    background-color: #9A9A9A;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
}

/*Botón para dar de baja*/
.adminGeneral-button03{
    color: #4284F3 ;
    font-family: "regular";
}