/*Contenedor Principal*/
.adminGeneral-container{
    width: 70%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Título principal*/
.adminGeneral-title{
    font-family: "regular";
    color: #06023D;
    font-size: 2.8125rem !important;
}

/* Contenedor del input de búsqueda */
.adminGeneral-search {
    position: relative;
    width: 25rem;
    height: 2.5rem;
    margin-top: 6.25rem;
}

/* Estilos del input */
.adminGeneral-search-input {
    width: 100%;
    height: 100%;
    padding-left: 1.875rem;
    padding-right: 3rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    outline: none;
    box-sizing: border-box;
}

/* Efecto al seleccionar el input*/
.adminGeneral-search-input:focus {
    border-color: #06023D;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
}

/* Estilo del placeholder */
.adminGeneral-search-input::placeholder {
    color: #D9D9D9;
}

/* Botón de búsqueda*/
.adminGeneral-search-button {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de la lupa */
.adminGeneral-search-icon {
    width: 1.25rem;
    height: 1.25rem;
}

/*Contenedor de botones*/
.adminGeneral-button-container{
    display: flex;
    gap: 50px;
    margin-top: 1.875rem;
}

/*Botón de "Todos"*/
.adminGeneral-button01{
    font-family: "inter";
    color: #F8F3E0;
    background-color: #EA8C06;
    padding: 7px 8px 7px 8px;
    border-radius: .9375rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Hover */
.adminGeneral-button01:hover {
    background-color: #D47A05;
}

/* Efecto de click */
.adminGeneral-button01:active {
    transform: scale(0.95);
    background-color: #BF6E04;
}

/*Botón de "Servicio" y "Productos"*/
.adminGeneral-button02{
    font-family: "inter";
    letter-spacing: .0625rem;
    color: #9A9A9A;
    border: 2px solid #9A9A9A;
    padding: 5px 20px 5px 20px;
    border-radius: .9375rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

/* Hover */
.adminGeneral-button02:hover {
    background-color: #E1DCC7;
    color: #7A7A7A;
}

/* Efecto de click */
.adminGeneral-button02:active {
    transform: scale(0.95);
    background-color: #C8C1A5;
    color: #5A5A5A;
}

/*Línea divisoria*/
.adminGeneral-divider {
    width: 100%;
    height: 2px;
    background-color: #9A9A9A;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
}

/* Contenedor de la tabla */
.adminGeneral-table-container {
    overflow-x: auto;
}

/*Botón para dar de baja*/
.adminGeneral-button03{
    color: #4284F3 ;
    font-family: "regular";
}

/*-------Media Queries--------*/

@media (max-width: 1104px){
    .adminGeneral-container{
        width: 80%;
    }
    .adminGeneral-title{
        font-size: 2.5rem !important;
    }
    .adminGeneral-search{
        margin-top: 5rem;
    }
    .adminGeneral-divider{
        margin-bottom: .625rem;
    }
}

@media (max-width: 850px){
    .adminGeneral-container{
        width: 90%;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .adminGeneral-title{
        font-size: 2.1875rem !important;
    }
    .adminGeneral-search{
        margin-top: 4rem;
    }
    .adminGeneral-divider{
        margin-bottom: 0;
    }
}

@media (max-width: 760px){
    .adminGeneral-title{
        font-size: 1.875rem !important;
    }
    .adminGeneral-search{
        margin-top: 3rem;
    }
    .adminGeneral-button-container{
        gap: 1.875rem;
    }
}

@media (max-width: 640px){
    .adminGeneral-button-container{
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .adminGeneral-search{
        width: 100%;
    }
}

@media (max-width: 450px){
    .adminGeneral-container{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .adminGeneral-title{
        font-size: 1.5625rem !important;
    }
    .adminGeneral-search{
        margin-top: 2rem;
    }
}