/*Contenedor de publicidad*/
.banner2-img-container{
    width: 70%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

/*Publicidad*/
.banner2-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*-------Media Queries--------*/

@media (max-width: 1600px){
    .banner2-img-container{
        width: 1200px;
    }
}

@media (max-width: 1300px){
    .banner2-img-container{
        width: 1000px;
        margin-top: 1.875rem;
    }
}

@media (max-width: 1300px){
    .banner2-img-container{
        margin-bottom: 30px;
    }
}

@media (max-width: 1050px){
    .banner2-img-container{
        width: 800px;
    }
}

@media (max-width: 850px){
    .banner2-img-container{
        width: 650px;
    }
}

@media (max-width: 680px){
    .banner2-img-container{
        width: 90%;
    }
}