/* Contenedor principal */
.footer-main-container {
    display: flex;
    flex-direction: column;
    background-color: #06023D;
    gap: .625rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Contenedor secundario */
.footer-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
}

/* Contenedor de información del footer */
.footer-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
    flex-wrap: wrap;
}

/* Contenedor de contactos */
.footer-contact-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Título de contactos */
.footer-contact-title {
    color: #FFFFFF;
    font-family: "regular";
    font-size: 1.125rem !important;
}

/* Contactos */
.footer-contact {
    color: #FFFFFF;
    font-family: "thin";
    font-size: 1rem !important; 
}

/* Enlaces */
.footer-link {
    color: #FFFFFF;
    font-family: "regular";
    font-size: 1.125rem !important;
    transition: transform 0.2s ease-in-out;
}

/* Hover para enlaces */
.footer-link:hover {
    transform: scale(1.1);
}

/* Contenedor de redes */
.footer-social-container {
    display: flex;
    align-items: center;
    gap: .625rem;
}

/* Logo del footer */
.footer-logo-container {
    width: 12.5rem;
    min-width: 150px;
}

/* Copyright */
.footer-copyright {
    color: #FFFFFF;
    font-family: "regular";
    padding-left: 13%;
}

/*-------Media Queries--------*/

@media (max-width: 1325px){
    .footer-container {
        padding-left: 9%;
        padding-right: 8%;
    }
    .footer-copyright{
        padding-left: 9%;
    }
}

@media (max-width: 1180px){
    .footer-container {
        padding-left: 6%;
        padding-right: 1%;
    }
    .footer-copyright{
        padding-left: 6%;
    }
}

@media (max-width: 1053px){
    .footer-info-container{
        gap: 3.125rem;
    }
    .footer-container{
        justify-content: space-between;
        gap: 0;
    }
}

@media (max-width: 911px){
    .footer-container{
        justify-content: center;
    }
    .footer-info-container{
        gap: 5rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer-copyright{
        padding-left: 0;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 850px){
    .footer-main-container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .footer-contact-title {
        font-size: 1rem !important;
    }
    .footer-link {
        font-size: 1rem !important;
    }
    .footer-logo-container {
        width: 9.375rem;
    }
}

@media (max-width: 817px){
    .footer-info-container{
        gap: 3.125rem;
    }
}

@media (max-width: 470px){
    .footer-info-container{
        gap: 2rem;
    }
}