/*Contenedor principal*/
.miniCart-main-container{
    background-color: #F8F3E0;
    padding-top: 7rem;
    padding-bottom: 20rem;
}

/*En caso de que no hay productos*/
.miniCart-noProducts-container{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    background-color: white;
    padding: 3.125rem;
    width: 43.75rem;
    margin: auto;
    border-radius: 1.25rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/*Texto si no hay productos*/
.miniCart-noProducts-text{
    text-align: center;
    font-family: "regular";
    font-size: 1.875rem !important;
    color: #06023D;
}

/*Botón para volver a inicio*/
.miniCart-noProducts-button{
    color: #065D4A;
    font-family: "regular";
    border: 1.5px solid #065D4A;
    padding: 15px 40px 10px 40px;
    border-radius: .9375rem;
    font-size: 1.5625rem;
    transition: all 0.2s ease;
}

/* Hover del botón */
.miniCart-noProducts-button:hover {
    background-color: #065D4A;
    color: #ffffff;
}

.miniCart-noProducts-button:active {
    transform: scale(0.96);
    background-color: #054C3E;
    border-color: #054C3E;
}

/*Contenedor del carrito*/
.miniCart-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: start;
}

/*Contenedor de productos*/
.miniCart-products-container{
    background-color: white;
    padding: 80px 80px 30px 80px;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/*Título*/
.miniCart-title{
    font-family: "regular";
    color: #06023D;
    font-size: 1.5625rem !important;
}

/*Subtítulo*/
.miniCart-subTitle{
    font-family: "regular";
    color: #06023D;
    font-size: 20px !important;
}

/*Productos*/
.miniCart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    background-color: #F5F5F5;
    padding: 30px 70px 30px 70px;
    border-radius: 1.25rem;
}

/*Informaciómn del producto*/
.miniCart-product-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

/*Nombre del Producto*/
.miniCart-product-name{
    font-family: "inter";
    font-size: 1.5625rem !important;
    line-height: normal;
    font-weight: bold;
}

/*Cantidad del producto*/
.miniCart-product-quantity{
    font-family: "inter";
    color: #9A9A9A;
    font-size: 1.125rem !important;
    line-height: normal;
}

/*Botón para quitar*/
.miniCart-quit-button{
    font-family: "regular";
    color: #3785FA;
    font-size: 1.125rem !important;
    line-height: normal;
    margin-top: 5px;
}

/*Precio*/
.miniCart-product-price{
    color: #06023D;
    font-family: "regular";
    font-size: 1.5625rem !important;
}

/*Contenedor de resumen y botón de compra*/
.resumen-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

/*Resumen de compra*/
.resumen-container{
    background-color: #FFFFFF;
    padding: 80px 80px 30px 80px;
    width: 500px;
    border-radius: 1.25rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*Título del resumen*/
.resumen-title{
    font-family: "regular";
    color: #06023D;
    font-size: 1.5625rem !important;
}

/*Contenedor de info del resumen*/
.resumen-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Estilo para primer texto*/
.resumen-text01{
    font-family: "thin";
    color: #06023D;
    font-size: 1.5625rem !important;
}

/*Estilo para segundo texto*/
.resumen-text02{
    font-family: "regular";
    color: #06023D;
    font-size: 25px !important;
}

/*Estilo del total*/
.resumen-text03{
    font-family: "regular";
    color: #06023D;
    font-size: 40px !important;
}

/*Divider*/
.resumen-divider {
    height: 1px;
    background: #D9D9D9;
    border: none;
    margin: 20px 0;
}

/*Botóm de compra*/
.miniCart-compra-button{
    color: #065D4A;
    font-family: "regular";
    border: 1.5px solid #065D4A;
    padding: 10px 40px 7px 40px;
    border-radius: .9375rem;
    font-size: 1.5625rem;
    transition: all 0.2s ease;
}

/* Hover del botón */
.miniCart-compra-button:hover {
    background-color: #065D4A;
    color: #ffffff;
}

/* Efecto clickeo del botón */
.miniCart-compra-button:active {
    transform: scale(0.96);
    background-color: #054C3E;
    border-color: #054C3E;
}

/*-------Media Queries--------*/

@media (max-width: 1600px){
    .miniCart-product{
        width: 700px;
    }
    .resumen-container{
        width: 28.125rem;
    }
}

@media (max-width: 1400px){
    .miniCart-container{
        flex-direction: column;
    }
    .miniCart-products-container{
        width: 80%;
        margin: auto;
    }
    .miniCart-product{
        width: 100%;
    }.resumen-button-container{
        width: 100%;
    }
    .resumen-container{
        width: 80%;
    }
}

@media (max-width: 800px){
    .miniCart-noProducts-container{
        width: 31.25rem;
        padding: 1.875rem;
        gap: 20px;
    }
    .miniCart-noProducts-text{
        font-size: 1.5625rem !important;
    }
    .miniCart-products-container{
        gap: 15px;
        padding: 50px 35px 20px 35px;
    }
    .miniCart-product{
        padding: 20px 30px 20px 30px;
    }
    .miniCart-product-name{
        font-size: 1.25rem !important;
    }
    .miniCart-product-quantity{
        font-size: 1rem !important;
    }
    .miniCart-quit-button{
        font-size: 16px !important;
    }
    .miniCart-product-price{
        font-size: 1.25rem !important;
    }
    .resumen-container{
        gap: 10px;
        padding: 50px 35px 20px 35px;
    }
    .resumen-text01{
        font-size: 20px !important;
    }
    .resumen-text02{
        font-size: 20px !important;
    }
    .resumen-text03{
        font-size: 1.875rem !important;
    }
}

@media (max-width: 640px){
    .miniCart-noProducts-container{
        width: 90%;
        padding: 1.5625rem;
    }
    .miniCart-noProducts-button{
        width: 90%;
    }
    .miniCart-products-container{
        width: 90%;
    }
    .resumen-container{
        width: 90%;
    }
    .miniCart-compra-button{
        width: 90%;
    }
}

@media (max-width: 450px){
    .miniCart-products-container{
        padding: 40px 20px 20px 20px;
    }
    .miniCart-subTitle{
        text-align: center;
    }
    .miniCart-product{
        flex-direction: column;
        align-items: center;
        padding: 20px 15px 20px 15px;
        gap: 1.875rem;
    }
    .miniCart-product-info{
        align-items: center;
    }
    .resumen-container{
        padding: 30px 20px 20px 20px;
    }
    .resumen-info-container{
        flex-direction: column;
    }
    .resumen-title{
        text-align: center;
    }
}