/*Contenedor principal*/
.prestadorHeader-main-container{
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    height: 500px;
    background-color: #EA8C06;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

/*Contenedor de información*/
.prestadorHeader-container{
    background-color: #FFFFFF;
    height: 60%;
    border-radius: 20px;
    padding: 50px 100px 30px 100px ;
}

/*Imágen de perfil*/
.prestadorHeader-logo-profile{
    position: absolute;
    top: 320px;
    left: 19%;
    width: 180px;
    border-radius: 50%;
    background-color: #F8F3E0;
}

/*Contenedor de botones*/
.prestadorHeader-button-container{
    display: flex;
    justify-content: end;
    gap: 30px;
}

/*Botones*/
.prestadorHeader-button{
    font-family: "regular";
    font-size: 18px !important;
    color: #065D4A;
    background-color: rgba(6, 93, 74, 0.2);
    padding-top: 10px;
    padding-bottom: 7px;
    width: 240px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

/* Efecto hover */
.prestadorHeader-button:hover {
    background-color: #065D4A;
    color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(6, 93, 74, 0.5);
}

/* Efecto al hacer click */
.prestadorHeader-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(6, 93, 74, 0.5);
    background-color: rgba(6, 93, 74, 0.8);
}

/*Contenedor de información abajo*/
.prestadorHeader-info-container{
    display: flex;
    flex-direction: column;
}

/*Contenedor de nombre y lugar de estudios*/
.prestadorHeader-first-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

/*Contenedor de nombre con estrellas*/
.prestadorHeader-name-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Nombre*/
.presatadorHeader-name{
    font-family: "regular";
    font-size: 30px !important;
    color: #06023D;
}

/*Contenedor de ícono y lugar de estudios*/
.prestadorHeader-study-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Lugar de estudios*/
.prestadorHeader-study{
    font-family: "inter";
    color: #06023D;
    font-size: 20px !important;
    width: 230px;
    line-height: normal;
}

/*Profesión*/
.prestadorHeader-profesion{
    font-family: "regular";
    color: #EA8C06;
    font-size: 25px !important;
}

/*Ciudad*/
.prestadorHeader-adress{
    font-family: "inter";
    color: #9A9A9A;
    font-size: 16px !important;
}

/*-------Media Queries--------*/

@media (max-width: 1500px){
    .prestadorHeader-main-container{
        width: 80%;
    }
}

@media (max-width: 1300px){
    .prestadorHeader-button-container{
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }
    .prestadorHeader-container{
        height: auto;
        padding:  20px 80px 40px 80px;
    }
}


@media (max-width: 1100px){
    .prestadorHeader-container{
        padding:  20px 70px 40px 70px;
    }
}

@media (max-width: 860px){
    .prestadorHeader-first-container{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 5px;
        margin-bottom: 15px;
    }
    .prestadorHeader-logo-profile{
        top: 280px;
        left: 16%;
    }
}

@media (max-width: 800px){
    .prestadorHeader-container{
        padding:  20px 50px 30px 50px;
    }
}

@media (max-width: 639px){
    .prestadorHeader-main-container{
        width: 90%;
        margin-top: 4rem;
    }
    .prestadorHeader-container{
        padding:  60px 35px 20px 35px;;
    }
    .prestadorHeader-first-container{
        padding-top: 15px;
    }
    .presatadorHeader-name{
        font-size: 25px !important;
    }
    .prestadorHeader-study-container{
        gap: 5px;
    }
    .prestadorHeader-study{
        font-size: 18px !important;
        width: 100%;
    }
    .prestadorHeader-profesion{
        font-size: 20px !important;
    }
    .prestadorHeader-container{
        display: flex;
        flex-direction: column;
    }
    .prestadorHeader-button-container{
        width: 100%;
    }
    .prestadorHeader-button{
        width: 100%;
    }
    .prestadorHeader-logo-profile{
        width: 160px;
        top: 170px;
        left: 50%; 
        transform: translateX(-50%);
    }
}
