/*Contenedor Principal*/
.adminUsers-container {
    width: 70%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Título principal*/
.adminUsers-title {
    font-family: "regular";
    color: #06023D;
    font-size: 2.8125rem !important;
}

/* Contenedor del input de búsqueda */
.adminUsers-search {
    position: relative;
    width: 25rem;
    height: 2.5rem;
    margin-top: 6.25rem;
}

/* Estilos del input */
.adminUsers-search-input {
    width: 100%;
    height: 100%;
    padding-left: 1.875rem;
    padding-right: 3rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    outline: none;
    box-sizing: border-box;
}

/* Efecto al seleccionar el input*/
.adminUsers-search-input:focus {
    border-color: #06023D;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
}

/* Estilo del placeholder */
.adminUsers-search-input::placeholder {
    color: #D9D9D9;
}

/* Botón de búsqueda */
.adminUsers-search-button {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de la lupa */
.adminUsers-search-icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* Línea divisoria */
.adminUsers-divider {
    width: 100%;
    height: 2px;
    background-color: #9A9A9A;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
}

/* Contenedor de la tabla */
.adminUsers-table-container {
    overflow-x: auto;
}

/*-------Media Queries--------*/

@media (max-width: 1104px) {
    .adminUsers-container {
        width: 80%;
    }
    .adminUsers-title {
        font-size: 2.5rem !important;
    }
    .adminUsers-search {
        margin-top: 5rem;
    }
    .adminUsers-divider {
        margin-bottom: .625rem;
    }
}

@media (max-width: 850px) {
    .adminUsers-container {
        width: 90%;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .adminUsers-title {
        font-size: 2.1875rem !important;
    }
    .adminUsers-search {
        margin-top: 4rem;
    }
    .adminUsers-divider {
        margin-bottom: 0;
    }
}

@media (max-width: 760px) {
    .adminUsers-title {
        font-size: 1.875rem !important;
    }
    .adminUsers-search {
        margin-top: 3rem;
    }
}

@media (max-width: 640px) {
    .adminUsers-search {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .adminUsers-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .adminUsers-title {
        font-size: 1.5625rem !important;
    }
    .adminUsers-search {
        margin-top: 2rem;
    }
}