/*Contenedor principal*/
.category-main-container{
    background-color: #F8F3E0;
    padding-bottom: 100px;
}

/*Contenedor de título e input*/
.category-create{
    background-color: #FFFFFF;
    width: 1100px;
    margin: auto;
    margin-top: 50px;
    padding: 50px 100px 50px 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);

}

/*Title*/
.category-title{
    font-family: "regular";
    color: #06023D;
    font-size: 30px !important ;
}

/* Inputs */
.category-input {
    margin-top: .9375rem;
    margin-bottom: 1.875rem;
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border: 1px solid #B5B5B5;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.category-input:focus {
    border-color: #3E1F7A; 
    box-shadow: 0 0 5px rgba(62, 31, 122, 0.5);
}

.category-input::placeholder {
    color: #B5B5B5; 
    font-style: italic;
}

/*Contenedor de botón*/
.category-button-container{
    display: flex;
    justify-content: end;
}

/*Botón*/
.category-button{
    font-family: "regular";
    color: #4284F3;
    border: 2px solid #4284F3 ;
    padding: 10px 20px 7px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
}

/* Efecto hover */
.category-button:hover {
    background-color: #4284F3; /* Fondo azul */
    color: #FFFFFF; /* Texto en blanco */
    box-shadow: 0 4px 10px rgba(66, 132, 243, 0.4); /* Sombra */
}

/* Efecto click */
.category-button:active {
    transform: scale(0.95); /* Reducir tamaño ligeramente */
    box-shadow: 0 2px 5px rgba(66, 132, 243, 0.3); /* Sombra más pequeña */
    background-color: #3467C3; /* Azul más oscuro */
}

/*Contenedor de inputs*/
.category-input-container{
    display: flex;
    gap: 20px;
}

/*Contenedor de tabla*/
.category-table-container {
    overflow-x: auto;
    max-width: 100%;
}

/*Tabla*/
.category-table{
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

/*Sección de tabla*/
.category-th{
    font-family: "regular";
    color: #06023D;
    font-size: 20px !important;
    padding: 10px 7px;
}

/*Elemento en tabla*/
.category-td{
    font-family: "inter";
    padding: 20px;
    font-size: 18px !important;
}

/*Sin subcategorías*/
.category-none{
    font-family: "inter";
    color: #B5B5B5;
}

/*-------Media Queries--------*/

@media (max-width: 1300px){
    .category-create{
        width: 80%;
    }
}

@media (max-width: 900px){
    .category-create{
        padding: 30px 50px 30px 50px;
        margin-top: 40px;
    }
    .category-input-container{
        flex-direction: column;
        gap: 0;
    }
    .margin-input{
        margin-bottom: 0;
    }
}

@media (max-width: 639px){
    .category-create{
        padding: 30px 30px 30px 30px;
        margin-top: 30px;
        width: 90%;
    }
    .category-title{
        font-size: 25px !important;
    }
    .category-button-container{
        width: 100%;
    }
    .category-button{
        width: 100%;
    }
    .category-input {
        margin-top: 10px;
    }
    .category-th{
        font-size: 18px !important;
    }
    .category-td{
        font-size: 16px !important;
        padding: 15px;
    }
}

@media (max-width: 450px){
    .category-title{
        font-size: 22px !important;
    }
}